<footer class="blog-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-7 col-sm-offset-1">
        <div id="footer-info" class="inner">
          &copy;
          <%= date(new Date(), 'YYYY') %>
            <%= config.author || config.title %>&nbsp; Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
        </div>
      </div>
    </div>
  </div>
</footer>
